#fecha-lugar {
	background-color: #5BA473;
}

.date-place {
	padding: 50px;
	padding-top: 20px;
	h1 {
		color: white;
	}
	h2 {
		color: white;
		font-size: 18px;
	}
	strong {
		color: white;
	}
	.map-ifblanco {
		padding: 50px;
		height: 400px;
		max-width: 100%;
	}
}

